body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #6c5ce7;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header .icon {
  margin-left: 20px;
  cursor: pointer;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #fff;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  font-weight: bold;
  cursor: pointer;
}

a{
  color: black;
  text-decoration: none;
}

.badge {
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 12px;
  margin-left: 5px;
}

.dashboard {
  flex: 1;
  padding: 30px;
}

.resumo .filtros {
  margin-bottom: 20px;
}

.valores {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.box {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 250px;
  
}

.box2 {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 250px;
  cursor: pointer;

}

.box2 img{
  max-width: 90%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin:  auto 20px auto;
}

.green { border-left: 5px solid green; }
.red { border-left: 5px solid red; }
.blue { border-left: 5px solid blue; }

.caixas ul {
  list-style: none;
  padding: 0;
}

.caixas li {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background: #eee;

}
